{% extends 'base.html' %}
{% block content %}

<div class="container">
    <h1>About Bloggie</h1>
    <h3>Bloggie is a blog app created by <a href="https://fasasihafis.pythonanywhere.com/">Fasasi Hafis</a> a young promising Software Developer using Django framework. <br>
           Bloggie is a unique app where registered user can easily write blog and publish it for the world to access.
    As a registered user you have access to create new post, like and comment on every post published on the app. User can
    edit and delete post created by the user <br>
    After a user create new post, it will automatically direct to draft page where only the user can see the post before
    publishing it.
</h3>
</div>


<style>
    h1{
        text-align: center;
    }
    h3{
        font-family: 'Bacasime Antique', serif;
    }
</style>

{% endblock %}